*x86*
SugarStellar.exe
SugarStellar.zip
*Windows.exe
*Windows.zip
*Windows_Data
SugarStellar_Data
*.app
*.otf
UnityLockFile
259285__philip-daniels__launch.*
rocket-roar-looping.*
Editor
Standard Assets
obj
*~
Temp
