*x86*
SugarStellar.exe
SugarStellar.zip
*Windows.exe
*Windows.zip
*Windows_Data
Assets/Paroxe
Assets/Paroxe/UltimateBloom/*
SugarStellar_Data
*.app
*.otf
UnityLockFile
Library/*
259285__philip-daniels__launch.*
*AudioMicro*
*zimbot*
*Sci*Machine*
rocket-roar-looping.*
*alarm*wav
*broken*wav
*freighter*wav
*Blast*wav
*plosion*wav
Editor
Standard Assets
obj
*~
Temp
